@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&family=Bebas+Neue&family=Comfortaa:wght@700&family=Concert+One&family=Dancing+Script:wght@400;500&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Karla:wght@800&family=Lexend+Deca:wght@300;900&family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,700;1,400&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300&family=Source+Sans+3:wght@200&family=Tourney:wght@100;200;300;400&display=swap');


#root {
    background-color: #191B1A;
    color: white;
    overflow: hidden;
    width: 100vw;
    display: flex;
    font-family: 'Josefin Sans';
    padding: 0px;
    margin: 0px;
    }
    
    html,body{
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 100vw;
        font-family: 'Josefin Sans';
    }
    


 