/* Criação do estilo da página da Garagem, com algumas diferenças */
/* A altura da página foi alterado e a largura foi aumentada */

/*Style e medida da areas de garagem*/
.bodyGarage{
  display: flex;
    width:100%;
    height: 100%;
    text-align: center;
    background-color: #161717;
    position: absolute;
    z-index: 3;
}




