/* Criação do estilo da página da Garagem, com algumas diferenças */
/* A altura da página foi alterado e a largura foi aumentada */
.bodyGarage{
   justify-content: center;
    width: 810px;
    height: 700px;
    text-align: center;
    margin-left: 300px;
    background-color: #B3B3B3;
    border-radius: 12px;
    top: 10px;
    padding: 5px;
    position: absolute;
    z-index: 3;
}

#bodyOffice{
    width: 113px;
    height: 132px;
    background-color: #191B1A;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    line-height: 130px;
    justify-content: center;
    text-align: center;
}



