.container{
    display: flex;
    flex-direction: row;
    width:100%;
    height: 100%;
    text-align: center;
    background-color: #161717;
    position: absolute;
}

.container h1{
    margin: 5px 0px;
    padding: 0;
}

.bodyGraficos{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.graficos{
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid white;
    border-radius: 35px;
    padding: 10px;
    overflow-x: none;
    overflow-y: auto;
}

.btnRelatorio{
    position: absolute;
    right: 10%;
    top: 30px;
    background-color: #27AE60;
    border: 2px solid transparent;
    color: white;
    font-family: 'Josefin Sans';
    font-size: 1.2rem;
    transition: .5s;
}

.btnRelatorio:hover{
    border: 2px solid white;
}