.page_principal{
    position: relative;
}

.vagas.horizontal{
    background-color: #60ab5d;
    width: 2.5px;
    padding-top: 37px;
    margin: 9px;
    border-radius: 5px;
}

.container9{
    position: absolute;
    margin-top: -5%;
    margin-left: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    align-items: flex-start;
    height: 40px;
    width: 25px;
}

.container8{
    display: none;
    position: absolute;
    margin-top: -5%;
    margin-left: 82%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    align-items: flex-start;
    height: 40px;
    width: 25px;
}

.container7{
    position: absolute;
    margin-top: -5%;
    margin-left: 68%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    align-items: flex-start;
    height: 40px;
    width: 25px;
}

.container6{
    position: absolute;
    margin-top: -5%;
    margin-left: 59%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    align-items: flex-start;
    height: 40px;
    width: 25px;
}

.container5{
    position: absolute;
    margin-top: -5%;
    margin-left: 37%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    align-items: flex-start;
    height: 40px;
    width: 25px;
}

.container4{
    position: absolute;
    margin-top: -5%;
    margin-left: 28%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    align-items: flex-start;
    height: 40px;
    width: 25px;
}

.container3 {
    bottom: 1060%;
    left: 28%;
    position: absolute;
	display: flex;
}

.container2 {
    margin-top: -5%;
    margin-left: 9%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    align-items: flex-start;
    height: 40px;
    width: 25px;
}

.container {
    margin-top: 37%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    align-items: flex-start;
    height: 40px;
    width: 25px;
}

.vagas{
    width: 30px;
    padding: 13px;
    margin: 28%;
    background-color: #60ab5d;
    border-radius: 5px;
}

.iconVagas{
    margin-top: -25px;
    margin-left: 20px;
    height: 23px;
    width: 23px;
    background-color: white;
    border-radius: 40px;
    position:absolute;
}

.iconVagas img{
    height: 19px;
    width: 19px;
}

.activeLess{
    height: 30px;
    width: 30px;
    position: absolute;
    right: 26px;
    background-image: url(../../assets/menos.png);
    background-position: center;
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1000;
    
}

.activeMore{
    display: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    position: absolute;
    background-color: transparent;
    border: none;
    right: 26px;
    background-image: url(../../assets/mais.png);
    background-position: center;
    background-size: cover;
    z-index: 1000;
    
}

.desactiveBtn{
    display: none;
}

.iconVagas,.iconHorizontal {
    background-color: transparent;
}

.iconHorizontal img{
    position:absolute;
    top: 132%;
    right: 135%;
}



.btnRemove{
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 1150%;
    background-color: red;
    left: 110%;
}

.btnRemoveDesactive{
    display: none;
}