.corpo{
    position: relative;
    margin: 0;
    height: 100vh;
}

.navBar{
    justify-content: flex-start;
    padding-top: 0px;
    margin-top: 0;
    margin-left: 0px;
    height: 100vh;
    width: 250px;
    flex-direction: column;
    min-width: 250px;
    box-shadow:1px 0px 15px 0px black;
    z-index: 1;
    display: inline-block;
    position: absolute;
}

a{
    margin: 5px;
    padding-left: 35px;
    padding-top: 13px;
}
.closemenu{
    margin:10px;
    display: flex;
    justify-content: end;
}

li{
    align-items: center;
    margin-left: 8px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    width: 250px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: .5s;
}

.corpo li:hover{
    background-color: #27AE60;
    transition: .5s;
}

.Icons{
    font-size: 50px;
}
