.container{
    position: absolute;
    width: 750px;
    right: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.ListContainer{
    padding: 0;
    padding-right: 5px;
    padding-bottom: 10px;
    height: 400px;
    width: 100%;
    border: 2px solid #27AE60;
    border-radius: 25px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}



.ListContainer ul:nth-child(2n){
    background-color: #505050;
}

.ListContainer ul:hover{
    transition: all 0.3s;
    background-color: #27AE60;
    cursor: pointer;
}

.headerList{
    display: flex;
    justify-content: start;
    flex-direction: row;
    border: 2px solid white;
    padding: 0px;
    background-color: #27AE60;
    margin: 5px 3px;
    border-radius: 20px 20px 0 0;
}

.headerList li{
    list-style: none;
    margin: 0;
    border-radius: 0;
    padding: 12px;
    height: 45%;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.headerList li:nth-child(1n){
    border-left: none;
}

.headerList li:nth-child(6n){
    border-right: none;
}

.ListClient{
    margin-left:-38px;
    display: flex;
    font-size: 0.8rem;
    height: 50px;
    flex-direction: row;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

.ListClient li{
    pointer-events: none;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    padding: 12px;
    max-width:100px ;
    margin: 0;
    text-align: center;
    align-items: center;
    line-height: 20px;
    border-radius: 0;
}



article{
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.conatinerButton{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.Listbtn{
    display: flex;
}

.selectOptions{
    outline: none;
    border-radius: 10px;
    padding: 5px 5px;
    font-size: 0.9rem;
    font-family:'Josefin Sans' ;
}

.btnVendas{
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 1.5rem;
    margin-right: 10px;
}

.Buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

@media (max-width:1475px){
    .container{
        width: 600px;
        right: 40%;
        margin-right: 40px;
    }
}

@media (max-width:1275px){
    .container{
        width: 600px;
        right: 40%;
        margin-right: 50px;
    }
}

@media (max-width:1245px){
    .container{
        width: 600px;
        right: 30%;
        margin-right: 40px;
    }
}

@media (max-width:1060px){
    .container{
        width: 500px;
        right: 15%;
        margin-right: 40px;
    }
}


::-webkit-scrollbar {
    width: 10px;
  }
  

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3.5px rgb(194, 192, 192); 
    border-radius: 10px;
  }
   

  ::-webkit-scrollbar-thumb {
    background: #505050; 
    border-radius: 10px;
  }
  

  /*Modal*/


  .containerModal{
    display: flex;
    flex-direction: column;
    height: 520px;
    width: 454px;
    background-color: #191B1A;
    box-shadow: 5px 4px 49px 15px rgba(0, 0, 0, 0.83);
    border-radius: 27px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;

}
.containerBtn{
    position: absolute;
    justify-content: flex-start;
    margin: 5px;
}

.btnClose{
    color: red;
    font-size: 2.8rem;
    border: none;
    padding: 0;
    margin: 5px;
    background-color: transparent;
}

.labelInput{
    font-size: 1.8rem;
}

.labelInput input{
    background: #FFFFFF;
    outline: none;
    border: none;
    height: 25px;
    margin-left: 10px;
    width: 200px;
    padding: 4px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: x-large;
    font-family: 'Josefin Sans';
    text-align: right;
    box-shadow: inset 3px 5px 10px rgba(0, 0, 0, 0.48);
}

.containerModal small{
    font-size: 1.0rem;
}

.pagamentos  {
   height: 60px;
   width: 70px;
   align-items: center;
   display: flex;
   justify-content: center;
   margin: 10px;
}

.bodyPayments{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    width: 250px;
    margin-left: 100px;
}


.btnPagamento{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
}


.credito{
    transition: .1s all;
    border: 3px solid transparent;
    background-image: url('../../assets/Credit-card.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.5rem;
    border-radius: 15px;
}

.debito{
    transition: .1s all;
    border: 3px solid transparent;
    background-image: url('../../assets/Debit-card.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.5rem;
    border-radius: 15px;
}

.money{
    transition: .1s all;
    border: 3px solid transparent;
    background-image: url('../../assets/Money (2).svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.5rem;
    border-radius: 15px;
}

.pix{
    transition: .1s all;
    border: 3px solid transparent;
    background-image: url('../../assets/pix.svg');
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.3rem;
    border-radius: 15px;
}

.btnSend{
    background-color: #27AE60;
    width: 200px;
    height: 40px;
    margin: 10px auto;
    font-family: 'Josefin Sans';
    border: none;
    font-size: 1.3rem;
    color: white;
}

