

.bodyControl{
    position: absolute;
    top: 670%;
    display: flex;
    width: 100%;
    height: 200px;
}

.bodyDisponiveis{
    height: 190px;
    background: linear-gradient(275.12deg, #686969 21.5%, rgba(104, 105, 105, 0.63) 53.24%, #686969 102.09%);
    border-radius: 16px;
    width: 270px;
    margin:4px;
    display: block;
}

.bodyIndisponiveis{
    height: 190px;
    background: linear-gradient(275.12deg, #686969 21.5%, rgba(104, 105, 105, 0.63) 53.24%, #686969 102.09%);
    border-radius: 16px;
    width: 270px;
    margin:4px;
    display: block;
}

/*Formatação do icon Parking*/
.iconParkingSize{
    width: 90px;
    height:90px;
}

.textVagas{
   margin:auto 20px; 
}

.countVagas{
    width: 100%;
    margin-top: 5px;
    display: flex;
}

.bodyCount{
    height: 50px;
    width: 50px;
    margin-left: 20px;
    background-color: aliceblue;
    border-radius:10px;
    text-align: center;
    line-height: 50px;
}

.bodyCount span{
    color: black;
}

.countButtons{
    height: 33px;
    width: 33px;
}

.countButtons:hover{
   transform: scale(1.2);
}

/*Corpo da div dos botões*/
.bodyCountButtons{
    display: flex;
    height: 34px;
    width: 130px;
    background-color: #191B1A;
    justify-content: space-between;
    border-radius: 40px;
    margin-left: -170px;
}


/*Formatação dos botões*/
.BtnMais{
    background-color: transparent;
    border: none;
    background-image: url('../assets/mais.png');
    background-size: cover;
}

.BtnMenos{
    background-color: transparent;
    border: none;
    background-image: url('../assets/menos.png');
    background-size: cover;
}

/*Formatação do Btn ao ativar*/

.activeMore{
    cursor: pointer; 
}

.activeLess{
    cursor: pointer;
}

.activeFocusCar:hover{
    background-color: #D1FFC6;
}

.desactiveBtn {
    display: none;
}

.activeBtn {
    display: block;
    
}
