.bodyInfo{
    position: absolute;
    top: 0%;
    left:1330px;
    background: rgb(146,213,255);
    background: linear-gradient(90deg, rgba(146,213,255,0.004639355742296902) 0%, rgba(58,59,59,1) 100%);
    width: 550px;
    box-shadow:1px 0px 19px 0px black;
    height: 100vh;
}

/*background da imagem do carro*/
.divCar{
    background-color:#B3B3B3;
    width: 550px;
    height: 140px;   
}

.divCar img{
    width: 310;
    height: 150px;
    margin-left: 120px;
}

/*Style das infrmações do carro*/
.infoCar{
    box-sizing: border-box;
    display: inline-block;
    width: 40%;
    margin-left: 25px;
    margin-top: 0%;
    overflow: hidden;
    padding: 10px;
}

/*Style das lista de informacões do carro*/
.reviewLista li:hover{
    background-color: transparent;
    cursor:auto;
}
  
.reviewLista li:nth-child(1n) {
    text-align: left;  
}

.reviewLista li:nth-child(2n) {
    text-align: right;  
}
  
#titleCar{
    margin: 0;
    margin-top: 10px;
}

.firstinfos{
    text-align: center;
}

.reviewInfoCar{
    margin-top: 25px;
}


